
root { 
    display: block;
}

body 
{
    font-family:"Times New Roman",Georgia,Serif;
    text-align:center;
    background:url("bod.jpg")no-repeat center;
    background-size: 80%;
    background-opacity:0.4;
    
    background-position: 50px 100px;
    font-size:16px;
    color:white;
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
}
footer
{
    bottom: 25%;
    text-align: right;
    width: 100%;
    position: absolute;

}
#boton 
{
    background: #73e600;
    font-weight: bold;
    color:white;
    font-size: 2.5em;
    border-radius: 5px;
    padding:9px;
    margin-right: 1EM;
    box-shadow: 1px 1px 10px #73e600,
    1px 1px 10px #73e600,
    1px 1px 10px #f1f1f1;
}
#boton:hover
{
    background:#FF2000;
    padding: 12px;
    font-size: 3em;
    margin: 2em;
     -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;

}
#reqnombre
{
    font-size: 2em;
}
#ir 
{
    padding: 2em;
    background: #73e600;
    color:white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#ir:hover
{
    box-shadow: 1px 1px 10px #2d2d2d;
}
#mini
{
    text-align: left ;
}
#tablero
{
    background-color: yellow;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    border: 2px solid #FF7600;
    height: 500px;
    box-shadow: 1px 1px 10px #FF7600;
}
.ima
{
    width: 10%;
    height: 90px;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}
#title
{
    font-weight: bold;
    font-size: 2em;
    color: #E10049;
    text-shadow:1px 1px 10px #E10049;
}
#yo1
{
    text-align: center;
    width: 100%;
}
#yo,#yo2,#yo3
{
    vertical-align: top;
  width: 30%;
    display: inline-block;
}

#yo1 img
{
    width: 30%;
    height: 100px;
    border: 10px  solid #CBDD37;
    border-radius: 100%;
    box-shadow: 1px 1px 10px #CBDD37,
    1px 1px 10px #CBDD37,
    1px 1px 8px black;
} 
#yo3
{   
    -webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms ease-out 1s;
    overflow: hidden;
    display: none;
    list-style: none;

    margin: 0;
    
    border-radius: 5PX;
    background:#A32834;
    box-shadow: 1px 1px 10px #A32834;
   
}
#yo3 li 
{
    font-size: 0.9em;
    color: #F8FF33;
    margin: 0em 1em;
     padding: 0;
     display: inline-block;
     vertical-align: top;
     text-align: center;

}
#yo3 li a:hover 
{
    font-size: 3em;
    color: white;
    text-shadow:1px 1px 10px white;
}

#yo4
{   
    -webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms ease-out 1s;
    list-style: none;
display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
    border-radius: 5PX;
    background:gray;
    box-shadow: 1px 1px 10px gray;
     vertical-align: top;
  width: 100%;
    display: inline-block;
   
}
#yo4 li 
{
    text-align: center;
    font-size: 0.9em;
    color: #F8FF33;
    margin: 0em 1em;
     padding: 0;
     display: inline-block;
     vertical-align: top;

}
#yo4 li a:hover 
{
    font-size: 3em;
    color: white;
    text-shadow:1px 1px 10px white;
}
#iframe
{
    width: 30%;
    display: inline-block;
}
#eres
{
    background:#A32834;
    
    color:white;
    font-weight: bold;
}
#no
{
    background: #FF4133;
}
#si 
{
    background: #A0E72E;
}
#pre 
{
    font-size: 2em;
}